6) Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7) Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
Num = [1,2,3,4]
Num.append(10)
print(Num)

[1, 2, 3, 4, 10]

8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
elements = ['a', 'b', 'c', 'd']
print(elements[1])

b

10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [3]:
elements = (100, 200, 300)
print(elements)

(100, 200, 300)

In [4]:
type(elements)

tuple

12)  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [8]:
my_tuple =('red', 'green', 'blue', 'yellow')
print(my_tuple[1:])

('green', 'blue', 'yellow')

13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
number = (10, 20, 5, 15)
min_num = min(number)
print(min_num)

5

14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
my_tuble = ('dog', 'cat', 'rabbit')
M = my_tuble.index('cat')
print(M)

1

15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
  print("yes, kiwi is available")
else:
  print("no, kiwi is not available")

yes, kiwi is available

16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [23]:
ele = {'a', 'b', 'c'}
print(ele)

{'c', 'b', 'a'}

In [24]:
type(ele)

set

17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [28]:
number = {1, 2, 3, 4, 5}
number.clear()
print(number)

set()

18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [29]:
elements = {1, 2, 3, 4}
elements.remove(4)
print(elements)

{1, 2, 3}

19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [34]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
M = set_1.union(set_2)
print(M)

{1, 2, 3, 4, 5}

20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [35]:
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
S = set_1.intersection(set_2)
print(S)

{2, 3}

21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [36]:
details = {"Name" : "Sourav", "Age" : 22, "City" : "Indore"}
print(details)

{'Name': 'Sourav', 'Age': 22, 'City': 'Indore'}

22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [37]:
info = {'name' : 'john', 'age' : 25}
info['country'] = 'USA'
print(info)

{'name': 'john', 'age': 25, 'country': 'USA'}

23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [38]:
info = {'name' : 'alica', 'age' : 30}
print(info['name'])

alica

24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [40]:
ID = {'name': 'Bob', 'age': 22, 'city': 'New York'}
ID.pop('age')
print(ID)

{'name': 'Bob', 'city': 'New York'}

25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [43]:
info = {'name' : 'alice', 'city' : 'paris'}
if 'city' in info:
  print("city is available")
else:
  print("city is not available")

city is available

26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [44]:
my_list = [1, 2, 3, 4]
my_tuple = (1, 2, 3, 4)
my_dict = {'a' : 1, 'b' : 2, 'c' : 3}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'a': 1, 'b': 2, 'c': 3}

27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [52]:
import random

numbers = [random.sample(range(1, 100), 5)]
numbers.sort()
print(numbers)

[[10, 36, 16, 38, 15]]

28) Write a code to create a list with strings and print the element at the third index.

In [53]:
names = ["sourav", "abhishek", "vansh", "shivam"]
print(names[3])

shivam

29) Write a code to combine two dictionaries into one and print the result.

In [54]:
dict_1 = {"a" : 1, "b" : 2}
dict_2 = {"c" : 3, "d" : 4}
dict_3 = {**dict_1, **dict_2}
print(dict_3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30) Write a code to convert a list of strings into a set.

In [56]:
my_list = ["a", "b", "c", "d"]
my_set = set(my_list)
print(my_set)

{'d', 'c', 'b', 'a'}